<template>
  <v-app>

    <v-toolbar>
      <v-toolbar-side-icon @click.stop="SideNav = !SideNav" class="hidden-sm-and-up"></v-toolbar-side-icon>

      <v-toolbar-title>Social Brik</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
      <v-btn depressed smal>
        <v-icon left>home</v-icon>
        home</v-btn>
      </v-toolbar-items>
    </v-toolbar>

<v-navigation-drawer v-model="SideNav">
  <v-list>
    <v-list-tile v-for="voce in MenuItems" v-bind:key="voce.description">
      <v-list-tile-action>
        <v-icon>{{voce.icon}}</v-icon>
      </v-list-tile-action>
      <v-list-tile-content>{{voce.description}}</v-list-tile-content>
    </v-list-tile>
  </v-list>
</v-navigation-drawer>


    <main>
      
      <router-view></router-view>

    </main>



  </v-app>
</template>

<script>
export default {
  data () {
    return {
      SideNav: false,
      MenuItems: [
        { icon: 'home', description: 'va alla home' },
        { icon: 'person', description: 'io' },
        { icon: 'face', description: 'login' }
      ]
    }
  },
  name: 'App'
}
</script>
